{{ include('/include/head.html') }}
<div class="container">

    <div class="jumbotron mt-5">
        <h1 class="display-3">Hello, EasyPHP4</h1>
        <p class="lead">基于Composer</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>

 </div> 
{{ include('include/footer.html') }}