<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- https://blog.csdn.net/joyce_lcy/article/details/81980683 -->
     <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
</head>
<body>
    你好！EasyPHP4!
    <hr>
        <!-- <form action="#" method="POST">
            <div class="g-recaptcha" data-callback="robotVerified" data-sitekey="6LdAB88ZAAAAAFdtdNk9QL3CA1qq2IGRaALPCDpM"></div>
        </form> -->
    测试数据:
    <hr>

    {% for value in data %}
    {{ value['id'] }} - {{ value['name'] }} <br>
    {% endfor %}
</body>
</html>