{{ include('/include/head.html') }}
<div class="container">

    <form class="mb-5">
        <fieldset class="mt-5">
          <legend>快速撰写</legend>
        
          <div class="form-group mt-3">
          
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="标题">

          </div>
          <div class="form-group">
            <select class="form-control" name="cate">
              <option>选择分类</option>
              <option value="1">1</option>
              <option value="1">2</option>
              <option value="1">3</option>
              <option value="1">4</option>
              <option value="1">5</option>
            </select>
          </div>
         
          <div class="form-group">
            <textarea class="form-control" id="mytextarea" placeholder="撰写内容"></textarea>
          </div>
         
          <button type="button" class="btn btn-primary">发布</button>
          <button type="button" class="btn btn-primary">草稿</button>
        </fieldset>
      </form>

 </div> 


{{ include('include/js.html') }}
<!-- <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> -->
<script src="{{ PUBLIC_ROOT }}Tinymce/tinymce.min.js"></script>
<script src="{{ PUBLIC_ROOT }}Tinymce/init.js"></script>

{{ include('include/footer.html') }}