{{ include('/include/head.html') }}
<div class="container">

    <form class="mb-5">
        <fieldset class="mt-5">
          <legend>快速撰写</legend>
        
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleSelect1">Example select</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleSelect2">Example multiple select</label>
            <select multiple="" class="form-control" id="exampleSelect2">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="mytextarea" >撰写内容</textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
          </div>
        
      
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>

 </div> 


{{ include('include/js.html') }}
<!-- <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> -->
<script src="{{ PUBLIC_ROOT }}Tinymce/tinymce.min.js"></script>
<!-- <script src="{{ PUBLIC_ROOT }}Tinymce/init.js"></script> -->
<script>


// tinymce.init({
//     selector: '#mytextarea',
//     language:'zh_CN',
//     plugins: 'print preview searchreplace autolink directionality visualblocks visualchars fullscreen image link media template code codesample table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount imagetools textpattern help emoticons autosave bdmap indent2em autoresize   ',
//     toolbar: 'code undo redo restoredraft | cut copy paste pastetext | forecolor backcolor bold italic underline strikethrough link anchor | alignleft aligncenter alignright alignjustify outdent indent | \
//     styleselect formatselect fontselect fontsizeselect | bullist numlist | blockquote subscript superscript removeformat | \
//     table image media charmap emoticons hr pagebreak insertdatetime print preview | fullscreen | bdmap indent2em   ',
//     height: 650, //编辑器高度
//     min_height: 600,
 
//     fontsize_formats: '12px 14px 16px 18px 24px 36px 48px 56px 72px',
//     font_formats: '微软雅黑=Microsoft YaHei,Helvetica Neue,PingFang SC,sans-serif;苹果苹方=PingFang SC,Microsoft YaHei,sans-serif;宋体=simsun,serif;仿宋体=FangSong,serif;黑体=SimHei,sans-serif;Arial=arial,helvetica,sans-serif;Arial Black=arial black,avant garde;Book Antiqua=book antiqua,palatino;',
//     link_list: [
//         { title: '预置链接1', value: 'http://www.tinymce.com' },
//         { title: '预置链接2', value: 'http://tinymce.ax-z.cn' }
//     ],
//     image_list: [
//         { title: '预置图片1', value: 'https://www.tiny.cloud/images/glyph-tinymce@2x.png' },
//         { title: '预置图片2', value: 'https://www.baidu.com/img/bd_logo1.png' }
//     ],
//     image_class_list: [
//     { title: 'None', value: '' },
//     { title: 'Some class', value: 'class-name' }
//     ],

//     //指定上传图片的预设处理程序的URL。
//     images_upload_url: '/admin/upload',
//     //给返回的相对路径指定它所相对的基本路径。
//     images_upload_base_path: '/admin/article',

//     importcss_append: true,
//     //自定义文件选择器的回调内容
//     file_picker_callback: function (callback, value, meta) {
//         if (meta.filetype === 'file') {
//           callback('https://www.baidu.com/img/bd_logo1.png', { text: 'My text' });
//         }
//         if (meta.filetype === 'image') {
//           callback('https://www.baidu.com/img/bd_logo1.png', { alt: 'My alt text' });
//         }
//         if (meta.filetype === 'media') {
//           callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.baidu.com/img/bd_logo1.png' });
//         }
//     },
//     autosave_ask_before_unload: false,
// });


// tinymce.init({
// 	  selector: '#mytextarea',
//     language:'zh_CN',
//   	plugins: "code",
// 	  toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link code image_upload",
// 	  menubar:false,
//     statusbar: false,
// 	  content_style: ".mce-content-body {font-size:15px;font-family:Arial,sans-serif;}",
//     height: 650, 
//     min_height: 600,
//     setup: function(ed) {		
//         ed.addButton('image_upload', {
//             tooltip: 'Upload Image',
//             icon: 'image',
//             onclick: function () {
//                 fileInput.trigger('click');
//             }
//         });
//     }



// });
tinymce.init({
  selector: '#mytextarea',
    language:'zh_CN',
    menubar: false, // 隐藏菜单栏，显示请设置为true
    statusbar: true, // 隐藏状态栏，显示请设置为true
    resize: true, // 仅允许改变高度
    toolbar_mode: 'floating', // 工具栏抽屉模式 取值：floating / sliding / wrap
    toolbar_sticky: true, // 停靠工具栏到顶部
    branding: false, // 隐藏标示，防止误点
    min_height: 600, // 最小高度
    content_style: 'img {max-width: 100%}',
    draggable_modal: true, // 模态框允许拖动（主要针对后续插件应用）
    image_uploadtab: false, // 不展示默认的上传标签，用xiunoimgup就可以，支持多文件/单文件上传。
    plugins: ['advlist', 'anchor', 'autolink', 'autoresize', 'charmap', 'code', 'codesample', '-directionality', 'fullscreen', 'help', 'hr', 'image', '-insertdatetime', 'link', 'lists', 'media', 'paste', 'preview', 'quickbars', 'table', 'textpattern', 'toc', '-visualblocks', '-visualchars',  'wordcount'], // 加载的插件，-为禁用
    toolbar: ['fontformats code | undo redo | styleselect | formatting fontcolor removeformat | alignment blockquote indentation list | imgup link media codesample table | anchor hr toc preview | other | fullscreen | customInsertButton | customInser2tButton | image_upload'], // 界面按钮
    toolbar_groups: { //按钮分组，节省空间，方便使用
        formatting: {
            icon: 'format',
            tooltip: '格式化',
            items: 'formatselect | fontselect | fontsizeselect | bold italic underline strikethrough | superscript subscript'
        },
        alignment: {
            icon: 'align-left',
            tooltip: '对齐',
            items: 'alignleft aligncenter alignright alignjustify'
        },
        imgup: {
            icon: 'gallery',
            tooltip: '上传图片',
            items: ' image'
        },
        list: {
            icon: 'unordered-list',
            tooltip: '列表',
            items: 'bullist numlist'
        },
        indentation: {
            icon: 'indent',
            tooltip: '缩进',
            items: 'indent outdent'
        },
        fontcolor: {
            icon: 'color-levels',
            tooltip: '文字颜色',
            items: 'forecolor backcolor'
        },
        other: {
            icon: 'more-drawer',
            tooltip: '更多按钮',
            items: 'charmap -insertdatetime help'
        }
    },
    // skin: 'oxide-dark',  // 设置深色皮肤，默认为oxide
    // cache_suffix: '?v=1.0.3',// 缓存css/js url自动添加后缀
    fontsize_formats: '12px 14px 16px 18px 24px 36px 48px 56px 72px',
    font_formats: '微软雅黑=Microsoft YaHei,Helvetica Neue,PingFang SC,sans-serif;苹果苹方=PingFang SC,Microsoft YaHei,sans-serif;宋体=simsun,serif;仿宋体=FangSong,serif;黑体=SimHei,sans-serif;Arial=arial,helvetica,sans-serif;Arial Black=arial black,avant garde;Book Antiqua=book antiqua,palatino;Comic Sans MS=comic sans ms,sans-serif;Courier New=courier new,courier;Georgia=georgia,palatino;Helvetica=helvetica;Impact=impact,chicago;Symbol=symbol;Tahoma=tahoma,arial,helvetica,sans-serif;Terminal=terminal,monaco;Times New Roman=times new roman,times;Verdana=verdana,geneva;Webdings=webdings;Wingdings=wingdings,zapf dingbats;知乎配置=BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;小米配置=Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif',
    paste_data_images: true, // 粘贴图片必须开启
    indentation: '2em', // padding方式的缩进，没text-indent好用，但这个不需要插件
    quickbars_selection_toolbar: 'bold italic | link | H1 H2 H3 | blockquote', // pc端可禁用快速工具栏填写false
    quickbars_insert_toolbar: false, // pc端禁用回车工具栏
    setup: function(editor) {
        var fileInput = $('<input id="tinymce-uploader" type="file" name="pic" accept="image/*" style="display:none">');
        jQuery(editor.getElement()).parent().append(fileInput);
        fileInput.on("change",function(){           
            var filename = this.files[0];
            var reader = new FileReader();          
            var formData = new FormData();
            var files = filename;
            formData.append("file",files);
            formData.append('filetype', 'image');               
            jQuery.ajax({
                url: "/admin/upload",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                async: false,
                dataType: 'json',
                success: function(json){
                    var fileName = json.file_path;
                    if(fileName) {
                        editor.insertContent('<img src="'+'{{ PUBLIC_ROOT }}'+fileName+'"/>');
                    }
                }
            });             
            reader.readAsDataURL(filename);  
        });    

        // add Button
        editor.ui.registry.addButton('image_upload', {
          icon: 'image',
          onAction: () => {
                fileInput.trigger('click');
            }
        });
        
    }
});
  </script>
{{ include('include/footer.html') }}