{{ include('/include/head.html') }}



<div class="container">

  
  <div id="msg">结果：</div>


<div class="row  mt-5 mb-5">
    <div class="col-lg-12">
      <div class="page-header">
        <h2>新增角色</h2>
      </div>
      <button type="button" class="btn btn-success mt-3" onclick="location.href='/admin/user_group'">返回</button>
    </div>
  </div>
  <form id="formdata">
    <fieldset>
      <legend>创建权限的用户组</legend>
      
      <div class="form-group mt-3">
        <input type="text" class="form-control"  placeholder="用户组名称" name="title">
      </div>
        <div class="form-group">
          <select class="form-control" name="status">
            <option value="1">正常使用</option>
            <option value="2">禁用</option>
          </select>
        </div>
      <button type="submit" class="btn btn-danger mt-3" id="submit">提交</button>
    </fieldset>
  </form>
  
  <script src="{{ PUBLIC_ADMIN }}/js/jquery.min.js"></script>
  <script src="{{ PUBLIC_ADMIN }}/js/popper.min.js"></script>
  <script src="{{ PUBLIC_ADMIN }}/js/bootstrap.min.js"></script>
  

  <script>
    // alert($('#formdata').serialize());
    $(function(){  
         
          $("#submit").click(function(){

            Exe();

          });
    function Exe(){  
        $.ajax({
              //提交数据的类型 POST GET
              type:"POST",
              //提交的网址
              url:"/admin/user_group_post",
              //提交的数据
              data:$('#formdata').serialize(),
              //返回数据的格式
              datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
              //在请求之前调用的函数
              // beforeSend:function(){$("#msg").html("logining");},
              //成功返回之后调用的函数             
              success:function(data){
                 alert(data);            
              },
      
              //调用出错执行的函数
              error: function(){
                  alert("请求异常");
              }         
          });
    }
    });
  
    </script>

{{ include('include/footer.html') }}